/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/home-background.jpeg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}
div.home-container .overlay {
    position: relative;	
	min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); 
   
}
div.container { 
	position: relative;
	min-height: 100vh;
	background-color:rgb(243, 226, 193);
	
}


/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 2em 2em 4em ;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
	 border-radius:1em;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(244,234,214);
	padding: 1rem 1em 1rem;
	}

h1 {
	width: 16em;
	}

h2, h3, h4 {
		font-weight: 12em;
	}

h2 {
	font-size: 2em;
	margin: 1em 0em 0.5em 0em;
	font-family: "spectral-sc", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:2.5em;
	color: rgb(155,95,59);
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 1em 0.5em 0em;
	font-family: "spectral-sc", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size:2.3em;
	color: rgb(78, 76, 71);
}

h4 {
	font-size: 1em;
	margin: 0em 0em 0em 0.5em;
	font-family: "legitima", serif;
	font-weight: 800;
	font-size: 1.2em;
	font-style: normal;
	color: rgb(155,95,59);
}

body {
	font-family: sans-serif;
	background-color:rgb(208,179,143);
	}	

a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}

	
ul li 	{
	list-style-type: none;
}


figure {
	margin-bottom: 2em;
}



main.menu ul {
		margin:1em 0em 0em 0em;
}	

main.menu ul li {
		margin: 2em 0em 1.5em 0em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		
}	

p {
	margin: 1em;
	margin-left: 0em;
	font-family: "legitima", serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.2em;
	font-size: 1.1em;
	color: rgb(78, 76, 71);
	}
	
p.description {
	grid-column: 1/3;
	margin: 0em 0em 0em 0.5em;
	}
	
p.price {
	grid-row: 1/3;
	grid-column: 2/3;
	color: rgb(239,59,43);
	text-align: right;
	margin: 0em 0em 0em 0.5em;
	}
	
nav ul li {
	text-transform: uppercase;
	margin-bottom: 1.5rem;
	text-align: right;
	font-size: 1.2em;
	}
	
nav ul li a {
	color: rgb(155,95,59);
	/*background-color: rgb(0,0,235);*/
	padding: 0.5rem 0.5rem 0.5rem;
	font-family: "spectral-sc", sans-serif;
	font-weight: 700;
	font-style: normal;

	}

nav ul li.selected a { 
		color: rgb(78, 76, 71);
		/*background-color: rgb(156, 115, 77);*/
	}
	

p.slogan {
	font-size: 3.5em;
	font-family: "spectral-sc", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 2em 0rem 1em 0rem;
	color: rgb(244,234,214);	
	}
	
footer {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(244,234,214);
}

address.page-home {
	font-family: "legitima", serif;
	font-weight: 500;
	font-style: normal;
	color: rgb(244,234,214);
	font-size:1.2em;
	margin:0em 1em 1em 0em;
	line-height: 0.5em;
	}

address.page-contact  {
	font-family: "legitima", serif;
	font-size: 1.2em;
	font-weight: 500;
	font-style: normal;
	color: rgb(78, 76, 71);
	margin:0em 1em 1em 0em;
	line-height: 0.5em;
	}
	
article {
	/*background-color: rgb(34,255,255);*/
	max-width: 36em;
	margin: auto;

}

footer p {
	margin: 0em;
}

@media screen and (min-width: 60em) {

	nav ul {
		margin-top: 2em;
	}
	nav ul li{
		display: inline-block;
		margin-right:1em;
	}
	nav ul li a {
		color: rgb(155,95,59);
		/*background-color: rgb(0,0,235);*/
		padding: 1rem 0.5rem 0.5rem;
		font-family: "spectral-sc", sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 1.4rem;
		}
	main.menu ul{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4em; 
	}
	main.menu ul li {
		margin: 1rem 0em 1.5em 0em;
	}
	div.container { 
		position: relative;
		min-height: 100vh;
		margin-left: 4em;
		margin-right:4em;
	}
	div.home-container { 
		background: url(images/home-background.jpeg) center center fixed;
		background-size: cover;
		position: relative;
		min-height: 100vh;
		margin-left: 4em;
		margin-right:4em;
	}
	

}
